/* #region reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* #endregion reset */

/* #region utilities */
.container {
    width: 80%;
    margin: auto;

}

.d-flex {
    display: flex;
}

:root {
    --orange: #ff6900;
    --white: #ffffff;
    --dark-grey: #1a1a1a;
}

body {
    font-family: "Helvetica Now",
        Helvetica,
        Arial,
        sans-serif;
    ;
}

.hidden {
    display: none;
}

/* --------------------------------------------------------------------hover propeties */
.col-4:hover .showed-img {
    cursor: pointer;
    display: inline-block;

}

.col-4:hover .base-img {
    display: none;
}

/* --------------------------------------------------------------------hover propeties */
/* #endregion utilities */

/* #region header */
.app-header {
    justify-content: space-around;
    align-items: center;
}

.orange-bg {
    background-color: var(--orange);
    box-shadow: 1px 0px 5px;
}

/* perché si rompe se stringo? */

.left-selector {
    gap: 1rem;
    color: #ffffff;
    font-weight: bold;
}

.header-logo img {
    width: 150px;
    padding: 0.5rem 0;
}

.right-icons {
    gap: 1rem;
    color: #ffffff;
}

/* #endregion header */

/* #region main */
.row {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}

.row img {
    max-width: 400px;
}

.item-preview {
    position: relative;
}

/* -----------------------------cuoricino */
.col-4 .fa-solid {
    position: absolute;
    top: 2%;
    right: 0;
    padding: 1rem;
    background-color: var(--white);
}

/* -----------------------------cuoricino */

/* ------------------------sconto */
.col-4 .badge {
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.5rem;
    position: absolute;
    top: 92%;
    left: 0;
}

.col-4 .discount {
    background-color: red;
    padding: 3px 10px;
    color: #ffffff;
}

.col-4 .green-washing {
    background-color: green;
    padding: 3px 10px;
    color: #ffffff;
}

/* ------------------------sconto */
/* --------------------------------------item-description */
.item-description p {
    font-size: small;
}

.item-description .actual-price {
    color: red;
    font-weight: bold;
}

.item-description .old-price {
    text-decoration: line-through;
}

/* --------------------------------------item-description */


/* #endregion main */