/* #region reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion reset */

/* #region utilities */
.container {
    width: 80%;
    margin: auto;

}

.d-flex {
    display: flex;
}


/* #endregion utilities */

/* #region header */
.app-header {
    justify-content: space-evenly;
    align-items: center;
}

.orange-bg {
    background-color: orange;
    box-shadow: 1px 0px 5px;
}

.left-selector {
    gap: 1rem;
}

.header-logo img {
    width: 150px;
    padding: 0.5rem 0;
}

.right-icons {
    gap: 1rem;
}

/* #endregion header */

/* #region main */
.row
/* #endregion main */